:root { 
  --link-color: blue; 
  --background-color: white; 
} 

@media (prefers-color-scheme: dark) { 
  :root { 
    --link-color: yellow; 
    --background-color: black; 
  } 
} 

body {
  background-color: var(--background-color) !important; 
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { 
  color: var(--link-color) !important; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  border: 1px solid rgba(155, 155, 155, 0.1);}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.1);
  border-radius: 20px;
  border: transparent;
}